.area_0 { grid-area: logomarca }

.area_1 { grid-area: cabecalho; }

.area_2 { grid-area: busca; }

.area_3 { grid-area: lateral-e; }

.area_4 { grid-area: conteudo-1; }

.area_5 { grid-area: conteudo-2; }

.area_6 { grid-area: conteudo-3; }

.area_7 { grid-area: conteudo-4; }

.area_8 { grid-area: rodape; }

 

.grid-container {

  display: grid;

  grid-template-areas:

    'logomarca cabecalho cabecalho cabecalho'

     'busca busca busca busca'

     'lateral-e lateral-e conteudo-1 conteudo-2'

     'lateral-e lateral-e conteudo-3 conteudo-4'

    'rodape rodape rodape rodape';

  grid-gap: 5px;

 /* background-color: silver;*/

  padding: 5px;

}

 
/*
.grid-container div {

  background-color: LightGray;

  text-align: center;

  padding: 20px 0;

  font-size: 30px;

}
*/
.area_1 h1 {
  font-size: 25px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 30px 0 0 0;
  
}

.area_1 p {
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 0 0 0 0;
  
}

.area_2 {
  background: cyan;
  border-radius: 5px; 
  padding: 5px;
}


.area_3 {
  background:lightgoldenrodyellow;
  text-align: center;
  padding: 10px 5px 10px 5px;  
}

.area_3 h3 {
  padding: 20px 0 0 0;
}

.area_3 p {
  font-size: 22px;
  padding: 30px;
}

.area_8 {
  padding: 0;
  height: 20px;
   
}

.area_8 h6 {
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
   
}

.area_8 p {
  font-size: 15px;
  text-align: center;
  padding: 0;
   
}


